.parallax{
  background-image: url("https://png.pngtree.com/element_our/png_detail/20181012/investment-concept-hands-reaching-for-money-money-share-illustration-png_133112.jpg");
  
  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container-my-3{
  background-color: rgb(107, 214, 220);
  padding-top: 3%;
  padding-bottom: 0%;
  height: 580px;
}

.container1{
  display: flex;
  justify-content: end;
}
